.person-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  align-items: flex-start;
  width: 400px;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.form-error {
    color: red;
    margin: 0;
    font-size: 0.8em;
}
